<!DOCTYPE html>
<html ng-app="cooking">

	<head>
		<title>健康厨房</title>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!--<script type="text/javascript" src="dist/js/angular/angular.js"></script>-->
		<script type="text/javascript" src="dist/js/ionic.bundle.js"></script>
		<script type="text/javascript" src="dist/js/angular/angular-route.js"></script>
		<script type="text/javascript" src="dist/js/jquery-1.12.0.js"></script>
		<script type="text/javascript" src="dist/js/swiper.min.js"></script>
		<link rel="stylesheet" href="dist/css/base.css" />
		<link rel="stylesheet" href="dist/css/index.css" />
		<link rel="stylesheet" href="dist/css/swiper.min.css" />
		<!--<link rel="stylesheet" href="dist/css/ionic.css" />-->
	</head>

	<body>
		<div class="jd_ladyout">
			<aside>
				<isnavred></isnavred>
			</aside>
			<!--<div class="bottom_list">
				<ul>
					<li>
						<a href="#/index" ng-click="loadMoreData()" ><img src="img/shouye.jpg"><span class="isNavRed">首页</span></a>
					</li>
					<li>
						<a href="#/Trip"><img src="img/time.jpg"><span>行程</span></a>
					</li>
					<li>
						<a href="#/Service"><img src="img/sevier.jpg"><span>客服</span></a>
					</li>
					<li>
						<a href="#/Personal"><img src="img/boy.jpg"><span>我的</span></a>
					</li>
				</ul>
			</div>-->
			<!--渲染视图-->
			<div ng-view="" class="view"></div>
		</div>
	</body>
	<script>
		var app = angular.module('cooking', ["ngRoute"]);
		app.config(function($routeProvider) {
			$routeProvider.when('/index', {
					controller: 'indexCtrl',
					templateUrl: 'view/index.html'
				}).when('/Trip', {
					controller: 'TripCtrl',
					templateUrl: 'view/Trip.html'
				}).when('/Service', {
					controller: 'ServiceCtrl',
					templateUrl: 'view/Service.html'
				}).when('/Personal', {
					controller: 'PersonalCtrl',
					templateUrl: 'view/Personal.html'
				}).when('/Sign', {
					controller: 'SignCtrl',
					templateUrl: 'view/Sign.html'
				}).when('/Register', {
					controller: 'RegisterCtrl',
					templateUrl: 'view/Register.html'
				})
				//如果找不到对应的路由那就跳到index模版文件
				.otherwise({
					redirectTo: '/index'
				})
		});

		app.controller('indexCtrl', ['$scope', '$http', '$timeout', function($scope, $http, $timeout) {
			$scope.offset =2;
			var loadMoreData = function() {
				$http.get('php/baidu.php', {
					params: {
						page: $scope.offset,

					}
				}).success(function(data) {
					console.log(data);
					$scope.news = data.data.books;
					console.log($scope.news)

				})
			}
			loadMoreData($scope.offset);
			$scope.loadMore = function() {
				$scope.offset++;
				loadMoreData($scope.offset);
			}
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				nextButton: '.swiper-button-next',
				prevButton: '.swiper-button-prev',
				paginationClickable: true,
				spaceBetween: 30,
				centeredSlides: true,
				autoplay: 2500,
				autoplayDisableOnInteraction: false
			});
		}]);
		app.controller('TripCtrl', ['$scope', '$http', '$timeout', function($scope, $http, $timeout) {
			$scope.offset = 1;
			var loadMoreData = function() {
				$http.get('php/baidu.php', {
					params: {
						page: $scope.offset,

					}
				}).success(function(data) {
					console.log(data);
					$scope.news = data.data.books;
					console.log($scope.news)

				})
			}
			loadMoreData($scope.offset);
			$scope.loadMore = function() {
				$scope.offset++;
				loadMoreData($scope.offset);
			}

		}]);
		app.controller('ServiceCtrl', ['$scope',function($scope){
			$scope.page1 = true;
			$scope.page2 = false;
			$scope.show = function(page) {
				if(page == 1) {
					$scope.page1 = true;
					$scope.page2 = false;
				} else if(page == 2) {
					$scope.page2 = true;
					$scope.page1 = false
				}
			}
		}]);
		app.controller('PersonalCtrl', ['$scope', '$http', '$timeout', function($scope, $http, $timeout) {}]);
		app.controller('RegisterCtrl', ['$scope', '$http', '$timeout', function($scope, $http, $timeout) {
			var oregister=document.getElementById('register');
				oregister.onclick=function(){
					window.history.go(-1);
				}
		}]);
		app.controller('SignCtrl', ['$scope', '$http', '$timeout', function($scope, $http, $timeout) {
				$scope.page1 = true;
				$scope.page2 = false;
				$scope.show = function(page) {
					if(page == 1) {
						$scope.page1 = true;
						$scope.page2 = false;
					} else if(page == 2) {
						$scope.page2 = true;
						$scope.page1 = false
					}
				}
				var osign=document.getElementById('sign');
				osign.onclick=function(){
					window.history.go(-1);
				}
		}]);
		/*添加组件*/
		app.directive('isnavred', ['$location', function($location) {
			return {
				restrict: 'EA', //标签和属性的写法激活此组件
				replace: true,
				transclude: true,
				template: '<div class="bottom_list">' +
					'<ul>' +
					'<li><a href="#/index" ng-click="loadMoreData()" class="isNavRed"><img src="img/shouye.jpg"><span >首页</span></a></li>' +
					'<li><a href="#/Trip"><img src="img/time.jpg"><span>行程</span></a></li>' +
					'<li><a href="#/Service"><img src="img/sevier.jpg"><span>客服</span></a></li>' +
					'<li><a href="#/Personal"><img src="img/boy.jpg"><span>我的</span></a></li>' +
					'</ul>' +
					'</div>',
				link: function(scope, element, attrs) {
					console.log(location.hash);
					console.log(scope);
					var navs = document.getElementsByTagName('a')
					switch(location.hash) {
						case '#/index':
							angular.element(navs).removeClass('isNavRed');
							angular.element(navs[0]).addClass('isNavRed');
							break;
						case '#/Trip':
							angular.element(navs).removeClass('isNavRed');
							angular.element(navs[1]).addClass('isNavRed');
							break;
						case '#/Service':
							angular.element(navs).removeClass('isNavRed');
							angular.element(navs[2]).addClass('isNavRed');
							break;
						case '#/Personal':
							angular.element(navs).removeClass('isNavRed');
							angular.element(navs[3]).addClass('isNavRed');
							break;
					}

					angular.element(navs).on('click', function() {
						//做全局的清楚
						angular.element(navs).removeClass('isNavRed');
						angular.element(this).addClass('isNavRed');
					})
				}
			}
		}])
	</script>

</html>