<div class="top">
	<span>
		<img src="img/erweima.jpg">
	</span>
	<p>欢迎来到我爱旅游</p>
	<span>
		<img src="img/message.jpg">
	</span>
	<a href="#/Sign">登录/注册</a>
</div>
<div class="bottom">
	<ul>
		<a href="#/Sign"><li class="bottom_kong"><span>订单</span><span>></span></li></a>
		<a href="#/Sign"><li><span>钱包</span><span>现金、礼品卡、返现></span></li></a>
		<a href="#/Sign"><li><span>优惠券</span><span>></span></li></a>
		<a href="#/Sign"><li><span>团购卷</span><span>></span></li></a>
		<a href="#/Sign"><li class="bottom_kong"><span>积分</span><span>></span></li></a>
		<a href="#/Sign"><li><span>常用信息</span><span>旅客、地址、发票抬头></span></li></a>
		<a href="#/Sign"><li><span>收藏</span><span>新增产品降价提示功能></span></li></a>
		<a href="#/Sign"><li><span>浏览历史</span><span>></span></li></a>
		<a href="#/Sign"><li><span>一生的旅行</span><span>旅行足迹></span></li></a>
		<a href="#/Sign"><li><span>设置</span><span>消息设置、关于></span></li></a>
		<a href="#/Sign"><li><span>更多</span><span>订阅></span></li></a>
	</ul>
	<div class="img_bottom"><img src="img/shouye.jpg"  /></div>
</div>

<style>
/*头部的样式*/
	.top {
		width: 100%;
		height:180px;
		background: url(img/title.jpg) no-repeat;
		background-size: 100%;
		position: relative;
	}
	
	.top>p {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		color: white;
		font-size: 20px;
		font-weight: 600;
		position: absolute;
		top: 20px;
	}
	.top>a{
		position: absolute;
		width: 150px;
		height:40px;
		background-color: orange;
		text-align: center;
		line-height: 40px;
		color: white;
		top:65%;
		left:50%;
		border-radius:10px;
		font-size: 18px;
		margin-left: -75px;
	}
	.top>span:nth-of-type(1) {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 20px;
		left: 20px;
	}
	
	.top>span:nth-of-type(1)>img {
		width: 100%;
	}
	
	.top>span:nth-of-type(2) {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 20px;
		right: 20px;
	}
	
	.top>span:nth-of-type(2)>img {
		width: 100%;
	}
/*底部的样式*/
.bottom{
	background-color:#E4E5E7;
	width: 100%;
	height: auto;
	padding: 10px;
}
.bottom>ul>a>li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #B2B2B2;
	background-color: white;
	border-radius: 5px;
	padding:0 10px;
}
.bottom>ul>a{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.bottom>ul>a>li>span:nth-of-type(1){
	float: left;
}
.bottom>ul>a>li>span:nth-of-type(2){
	float:right;
	color: #B2B2B2;
}
.bottom_kong{
	margin-bottom: 10px;
}
.img_bottom{
	width:100%;
	height: 60px;
}
.img_bottom>img{
	width: 100%;
	height: 60px;
	border-radius: 5px;
}
</style>